
  .container-s101 {
  max-width: 1440px;
  background-color: #fff;
  background-repeat: repeat-y;
  }

  .container-s101 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }

  .col-sm-12-s101{
  position: relative;
  width: 100%;
  min-height: 1px;
  }

  .col-sm-12-s101 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }

  .row-s101 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }

  .col-sm-12-s102{
  position: relative;
  width: 100%;
  min-height: 1px;
  }

  .col-sm-12-s102 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }

  
  .img-fluid {width: 100%; height: auto;}

  :root{
  --background-white: #ffff;
  --background-black: #000;
  --text-white: #fff;
  --text-preto: #000;
  }

  .txt-branco {color: var(--text-white);}
  .txt-preto{color: var(--text-preto)} 
  .boxcolor-white{background-color: var(--background-white);}
  .boxcolor-black{background-color: var(--background-black);}

  @import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
  @import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");

  .img-fluid {width: 100%; height: auto;}


  .subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }

  .p-center {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  line-height: 1.3;
  overflow-wrap: break-word;
  }

  .p-icons-pad {
    font-size: 1.5rem;

    font-family: "Camphor Pro", sans-serif;

    overflow-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0rem;
}


  /************************ Grid ***********************/

  .grid-xiaomi-pad {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.grid-icons-txt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.grid-icons-txt{
  display: flex;
}

  .spacing{padding: 3rem;}


  /************************* Mobile ***********************/

  @media only screen and (max-width: 920px) {

  .img-fluid {width: 100%; height: auto;}
  .row-s101 {padding: 0 0px;}
  .spacing{padding: 1rem;}
  .col-md-12-s101 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }

  /********************** Grind Mobile *******************/





  /********************************************************/

  .subtitle {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
    }
  
    .p-center {
    font-size: 1.3rem;
    text-align: center;
    font-family: "Camphor Pro", sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
    }
  
    .p-icons-pad {
      font-size: 1.1rem;
      font-family: "Camphor Pro", sans-serif;
      font-weight: 4;
      overflow-wrap: break-word;
      margin-top: 0;
      margin-bottom: 0rem;
  }


  }